.navbar {
    position: fixed !important;
    display: flex !important;
    justify-content: flex-start !important;
    transition: all 0.5s linear;
    width: 100%;
}

.nav-brand {
    border: 0;
    text-decoration: none;
    flex: 1;
    /* font-family: monospace; */
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 150%;
    padding: 0;
    margin-left: 0.5%;
    transition: all 0.5s linear;
}

.hidden {
    display: contents !important;
}

.dropdown-toggle {
    display: contents !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.usermenu {
    margin-top: 55px !important;
    left: auto !important;
    right: 0 !important;
    /* transition: all 0.25s linear; */
}

#UserLogo {
    margin-left: 20px;
    margin-right: 0.5%;
    right: 100%;

    border-style: solid;
    border-radius: 100%;
    border-color: white;
    border-width: 2px;

    height: auto;
    max-height: 50px;
    max-width: 50px;
}

#dark {
    color: white !important;
    background-color: black;
    /* background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111); */
}

#light {
    color: black;
    background-color: white;
}

#brandstar {
    position: relative;
    font-size: 75%;
    bottom: 3.5px;
}
